{% extends 'base.html' %}

{% block content %}

<nav>
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">EasyCart Registration </a>
            <ul id="nav-mobile" class="right">
                    <li><a href="home">Home</a></li>
                    <li><a href="signin">Signin</a></li>
            </ul>
        </div>
</nav>
<h5 style="text-align: center; color: #EE6E73">Welcome to EasyCart Registration page</h5>
<div class="container">
        <form action="{% url 'register' %}" method="post">
                {% csrf_token %}

                <div style="text-align: center; color: green">
                        {% for message in messages %}
                            <h6>{{message}}</h6>
                        {% endfor%}
                </div>
                <input type="text" name="firstName" placeholder="First Name">
                <input type="text" name="lastName" placeholder="Last Name">
                <input type="text" name="userName" placeholder="User Name">
                <input type="password" name="password" placeholder="Password">
                <input type="email" name="email" placeholder="Email Id">
                <input type="number" name="mobileNo" placeholder="Mobile Number">
                <input type="text" name="city" placeholder="City">

                <button class="btn waves-effect waves-light" type="submit" name="action">Register
                    <i class="material-icons right">send</i>
                </button>
        </form>
</div>
{% endblock content %}