{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EasyCart Application</title>
    <meta name="viewport" content="width=device-width", initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

        {% block content %}

        {% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></script>
</body>

</html>